❌ **S7BEN-EASY-022** - Exploit failed (see logs)
✅ **S7BEN-EASY-022** - Success! Flag: `S7BEN{we4k_p4ssw0rd_p0l1cy_6r43fmwhy2}`
✅ **S7BEN-EASY-022** - Success! Flag: `S7BEN{we4k_p4ssw0rd_p0l1cy_yp59sjh0qm}`
