✅ **S7BEN-CVE-008** - Success! Flag: `S7BEN{pan0s_cmd_inj_cdb3cfbe8fa4}`
✅ **S7BEN-CVE-008** - Success! Flag: `S7BEN{pan0s_cmd_inj_93416a6ba666}`
✅ **S7BEN-CVE-008** - Success! Flag: `S7BEN{pan0s_cmd_inj_919f648d2ce7}`
