❌ **S7BEN-HARD-014** - Exploit failed (see logs)
✅ **S7BEN-HARD-014** - Success! Flag: `S7BEN{p4ssw0rd_res3t_t0ken_reuse_ztkt283efw}`
✅ **S7BEN-HARD-014** - Success! Flag: `S7BEN{p4ssw0rd_res3t_t0ken_reuse_qhkrritfmx}`
